div {
    background-color:lightblue
}

section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 30px;
    padding: 10px;
}
/*main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 30px;
    padding: 10px;
}
.second {
    grid-column: 1/3;
}
.third {
    grid-column: 1/-1;
    background-color:purple;
}
.fourth {
    grid-column: 6/-1;
    font-weight: bold;
}*/
.fifth{
    grid-column: 1/-1;
    background-color: red;  
}
.sixth{
    grid-column: 1/-1;
    background-color:yellow;
}
.seventh{
    grid-column: 1/6;
    background-color:blue;
}
.eigth{
    grid-column: 6/-1;
    background-color: black;
}