body { 
    background-color: rgb(184, 181, 183);
    color: wheat;
}
h1 {
    color: rgb(50, 230, 0);
    background-color:rgb(0, 0, 0);
    padding: 15x;
    border: 15px solid white;
    margin: 50px;
}
p{
    background-color: black;
}
.flavor {
    background-color:rgb(169, 1, 1);
    font-style:italic;
    color:rgb(0, 3, 189);
}
