body {
    background-color: #cfcfcf;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 731px;
    max-width: 1045px;
    padding: 50px 400px 10px;
}
.departureinfo {
    background-color:#001b36;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;
    align-items: center;
}
.departureinfo h2 {
    color:white;
    font-size:28px;
    margin: 13px 0;

}
.departureinfo h4 {
    color: #4b6e94;
    font-size:10px;
}
#boardingpass {
    max-width:50%;
    background-color:white;
    margin: 0 auto;
    border-radius: 19px;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align:right;
    padding: 11px 25px 0 25px;
}
header .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align:left;
    
}
header .name {
    margin-top: 0px;
    font-size: 1em;
}
main .gateinfo {
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
main .gateinfo h3{
    font-size: .80em;
    text-align: center;
    margin-top: 25px;
    margin-bottom:5px ;

}
main .gateinfo h5 {
    color: #000000;
    font-size: 1em;
    text-align: center;
    margin-top: 5px;
}
footer .image {
    text-align: center;
    padding-bottom: 0px;
}
footer .thanks {
    text-align: center;
    padding-bottom: 10px;
    font-size: .75em;
}
