.card {
    background-color:rgb(170, 170, 170) ;
    max-height: 500px;
    max-width: 350px;
    margin: 0 auto;
    height: 350px;
}
main img {
    width: 100%;
    height: 300px;
}
header {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr 1fr;
    text-align: center;
}
.user_picture {
    text-align: left;
    margin-top: 2px;
    margin-left: 3px;
}
.username {
    text-align: left;
    font-size: .75em;
    margin-top: 3px;
    color: black;
}
.right_ellipses {
    text-align: right;
    margin-top: 2px;
    margin-right: 3px;
}
.time {
    text-align: right;
    margin-top: 5px;
    font-size: .5em;
    color: rgba(72, 72, 72, 0.689);
}
footer {
    display: grid;
    grid-template-columns: 1fr 9fr 100fr 1fr 1fr;
}